@page "/"

<PageTitle>Khoi Duc - Home</PageTitle>

<div class="d-flex flex-align-center full-height">
    <div>
        <MudText Typo="Typo.h4" GutterBottom="true">Hello, my name is</MudText>
        <MudText Class="bold animate__animated animate__delay-1s animate__pulse" Typo="Typo.h2" GutterBottom="true" Color="Color.Warning">Khoi Duc</MudText>
        <MudText Typo="Typo.h5" GutterBottom="true">I'm a Full-Stack Developer</MudText>
        <div class="small-paragraph">    
            <MudText Typo="Typo.subtitle1" GutterBottom="true">
                I have been professionally engaged in software development since 2000. I specialize in the Microsoft technology stack and C# language. Constantly learning new technologies and methodologies. I like to bring the task to its logical conclusion. I am a supporter of clean, nice, neat and easily maintainable code. Currently, I am fixing bug and building WCAG
                for all sites in the system of 
                <MudLink Color="Color.Warning" Href="https://digital.aspirelifestyles.com/en/" Target="_blank" Underline="Underline.Always">Product Site Manager System</MudLink>.
            </MudText>
        </div>
    </div>
    <div class="ma-6">
        <MudImage Style="background-color: rgb(0,43,78);" ObjectFit="ObjectFit.Cover" Height="400" Width="400" Src="images/1682763897290.JPEG" Elevation="25" Class="rounded animate__animated animate__delay-1s animate__pulse" />
    </div>
</div>

